.DS_Store
.profile
redash/log
mongodb/dev
mongodb/prod
mongodb/log
postgresql/dev
postgresql/prod
postgresql/log
postgresql/*.log
postgresql/pg-schema-change.log*
.dump
.backup
.bkp
ansible/host_vars
ansible/vars
ansible/group_vars
.pgpass
.idea
